doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title MongoNodeJs
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='MongoNodeJs', content='Full Stack application to update collections on fly')
        link(rel='stylesheet', type='text/css', href='search.css')

        style.
            ul {
                list-style: none; /* Remove list bullets */
                padding: 0;
                margin: 0;
                color: black;
            }

            li {
                padding-left: 100px;
            }
    body
        .topTitle
            | Search Me
        .box
            .container-1
                form#searchButton(action='http://localhost:3000/page1', method='GET')
                    input#search(type='Search', placeholder='Oscar Tweets', name = 'text')
                    button.searchButton(type='Enter', value='Search') Search

                <p><strong>Oscar Tweets: #{list.length}</strong>
                ul
                    each item in list
                        li
                            a(href= "oscarHtm?id=#{item._id}") #{item.ProductId}<br>
                            span #{item.Summary}
